@media (min-width: 1680px) {
  .mobile {
    display: none;
  }
  .header_body_m {
    display: none;
  }
  .header_menu_m {
    display: none;
  }
  .sticky_element_m {
    display: none;
  }
  .header_m {
    display: none;
  }
  .header_body_m {
    display: none;
  }
  .footer_m {
    display:none;
  }
  .slider_m {
    display:none;
  }
}
@media (max-width: 1680px) {
  .mobile {
    display: none;
  }
  .header_body_m {
    display: none;
  }
  .header_menu_m {
    display: none;
  }
  .sticky_element_m {
    display: none;
  }
  .header_m {
    display: none;
  }
  .header_body_m {
    display: none;
  }
  .footer_m {
    display:none;
  }
  .slider_m {
    display:none;
  }
}
@media (max-width: 1440px) {
  .mobile {
    display: none;
  }
  .sticky_element_m {
    display: none;
  }
  .header_m {
    display: none;
  }
  .header_body_m {
    display: none;
  }
  .header_menu_m {
    display: none;
  }
  .footer_m {
    display:none;
  }
  .slider_m {
    display:none;
  }
}
@media (max-width: 1366px) {
  .mobile {
    display: none;
  }
  .sticky_element_m {
    display: none;
  }
  .header_m {
    display: none;
  }
  .header_body_m {
    display: none;
  }
  .header_menu_m {
    display: none;
  }
  .footer_m {
    display:none;
  }
  .slider_m {
    display:none;
  }
}
@media (max-width: 1280px) {
  .mobile {
    display: none;
  }
  .sticky_element_m {
    display: none;
  }
  .header_m {
    display: none;
  }
  .header_body_m {
    display: none;
  }
  .header_menu_m {
    display: none;
  }
  .footer_m {
    display:none;
  }
  .slider_m {
    display:none;
  }
}
@media (max-width: 1024px) {
  .mobile {
    display: none;
  }
  .sticky_element_m {
    display: none;
  }
  .header_m {
    display: none;
  }
  .header_body_m {
    display: none;
  }
  .header_menu_m {
    display: none;
  }
  .footer_m {
    display:none;
  }
  .slider_m {
    display:none;
  }
}
@media (max-width: 768px) {
  .first_slide, .second_slide, .third_slide, .fourth_slide, .fifth_slide, .sixth_slide, .seventh_slide, .eight_slide {
    display: none;
  }
  .sticky_element {
    display: none;
  }
  .header {
    display: none;
  }
  .footer {
    display: none;
  }
  .slider {
    display: none;
  }
  .mobile {
    display: block;
    position: relative;
  }
  .header_m {
    display: block;
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    z-index: 50;
  }
  .header_m:before {
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: white;
  }
  .header_body_m {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 10.1vw;
    align-items: flex-end;
    margin-left:6vw;
    margin-right:6vw;
    margin-top: 0.4vw;
    margin-bottom: 5vw;
  }
  .header_logo_m {
    display: none;
  }
  .header_logo_2_m {
    flex: 0 0 46vw;
    top: 1.9vw;
    z-index: 3;
    position: relative;
  }
  .header_logo_m img {
    max-width: 100%;
  }
  .header_logo_2_m img {
    max-width: 100%;
  }
  .header_burger_m {
    display: block;
    position: relative;
    width: 14vw;
    height: 5vw;
    z-index: 3;
  }
  .header_burger_m span {
    position: absolute;
    background-color: black;
    left: 0;
    width: 100%;
    height: 0.6vw;
    top: 2.1vw;
    transition: all 0.3s ease 0s;
  }
  .header_burger_m:before,
  .header_burger_m:after {
    content: '';
    background-color: black;
    position: absolute;
    width: 100%;
    height: 0.6vw;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header_burger_m:before {
    top:0;
  }
  .header_burger_m:after {
    bottom: 0;
  }
  .flex_menu_1_m {
    display: flex;
    justify-content: space-between;
    font-family: 'Oswald', sans-serif;
    flex-direction: column;
    text-align: center;
  }
  .upper_menu_m li {
    font-weight: 500;
    font-size: 11vw;
  }
  #marg {
    margin-bottom: 5vw;
  }
  .header_contact_m a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 2vw;
  }
  .lower_menu_m li {
    margin-bottom: 1vw;
  }
  .lower_m {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 5vw;
  }
  .flex_menu_2_m {
    display: flex;
    justify-content: space-between;
    font-family: 'Oswald', sans-serif;
    margin-top:4vw;
    text-align: center;
  }
  .flex_menu_3_m {
    display: flex;
    justify-content: space-between;
    font-family: 'Oswald', sans-serif;
    flex-direction: column;
    margin-top:4vw;
    text-align: center;
  }
  .header_contact_m {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    max-width: 87.393vw;
    text-align: center;
    left:0;
    right: 0;
    margin-left: 6vw;
    margin-top: 10vw;
    margin-bottom: 7vw;
  }
  .header_menu_m {
    display: block;
    position: fixed;
    top:-100%;
    left:0;
    overflow: auto;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease 0s;
    background-color: rgba(162, 42, 47, 1);
    padding: 15vw 0 0 0;
  }
  .header_menu_m.active {
    top:0;
  }
  .header_list_m {
    display: flex;
    position: relative;
    z-index: 2;
    max-width: 87.393vw;
    justify-content: space-between;
    flex-direction: column;
    left:0;
    right: 0;
    align-items: center;
    margin-left: 6vw;
    margin-right: 6vw;
    margin-top: 8vw;
  }
  .header_list_m li {
    list-style: none;
    }
  .header_link_m {
    text-decoration: none;
    color: white;
  }
  .header_link_m.lower {
    color: rgba(196, 196, 196, 1)
  }
  .header_m_menu.active {
    top:0;
  }
  .header_burger_m.active span {
    transform: scale(0);
  }
  .header_burger_m.active:before {
    transform: rotate(45deg);
    top: 2.2vw;
  }
  .header_burger_m.active:after {
    transform: rotate(-45deg);
    bottom: 2.2vw;
  }
  .footer_m {
    display: block;
    position: relative;
    top:332vw;
    margin-top: 3vw;
    margin-left:5.3vw;
    margin-right:5.3vw;
    height: 5vw;
  }
  .footer_container_m {
    position: relative;
    width: 100%;
    top:0;
    left:0;
    height: 5vw;
  }
  .footer_body_m {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding-bottom: 3vw;
  }
  .footer_body_m a {
    text-decoration: none;
    color: black;
    font-family: 'Montserrat';
    font-weight: normal;
    font-size: 2vw;
  }
  .icons_m {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 7.7vw;
    margin-right: 11vw;
    align-items: flex-end;
    height: 100%;
    margin-left: 7vw;
  }
  .icons_m img {
    width: 80%;
    height: 80%;
    padding-left: 2vw;
  }
  .btn-2 {
    box-shadow: inset 0 0 rgba(8, 157, 148, 1);
    transition: all 0.3s ease-out;
  }
  .btn-2:hover {
    box-shadow: inset 13em 0 rgba(162, 42, 47, 1);
    cursor: pointer;
    color: white;
  }
  .first_slide_m {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-width: 0;
    top:10vw;
    /* height: 49.048vw; */
    left:0;
    padding-top: 2vw;
  }
  .fish_dish_m {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    top: 0vw;
    right: 0vw;
    margin-top: 14vw;
    margin-bottom: 3vw;
  }
  .baton_m {
    display: block;
    position: relative;
    top:0vw;
    z-index: 49;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: all 0.3s ease-out;
  }
  .baton_m button {
    width: 45vw;
    height: 7.5vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: rgba(162, 42, 47, 1);
    background-color: white;
    font-size: 3.8vw;
    border: 0.4vw solid rgba(162, 42, 47, 1);
    max-width: 100%;
    white-space: nowrap;
    transition: all 0.3s ease-out;
  }
  .second_slide_m {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 100%;
    top: 0vw;
    left:0;
  }
  .data_1_m {
    position: relative;
    display: block;
    margin: 2vw 13vw;
    text-align: center;
  }
  .first_comp_flex {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 2vw 0;
  }
  .first_comp_m {
    display: block;
    position: relative;
    top:0vw;
  }
  .time_lines_m {
    display: block;
    position: relative;
    top:3vw;
    left:0;
    z-index: -1;
  }
  .time_circle {
    display: block;
    position: relative;
    border: solid 1vw;
    width: 6.571vw;
    height: 6.571vw;
    border-radius: 50%;
    left: 41vw;
    top: 0;
  }
  .time_line {
    display: block;
    position: relative;
    width: 0.776vw;
    height: 61.619vw;
    left: 43.8vw;
    top: 0;
    background-color:black;
  }
  .time_line_4 {
    display: block;
    position: relative;
    width: 0.776vw;
    height: 79.619vw;
    left: 43.8vw;
    top: 0;
    background-color:black;
  }
  .time_line_5 {
    display: block;
    position: relative;
    width: 0.776vw;
    height: 59.619vw;
    left: 43.8vw;
    top: 0;
    background-color:black;
  }
  .time_line_6 {
    display: block;
    position: relative;
    width: 0.776vw;
    height: 64.619vw;
    left: 43.8vw;
    top: 0;
    background-color:black;
  }
  .time_line_7 {
    display: block;
    position: relative;
    width: 0.776vw;
    height: 46.619vw;
    left: 43.8vw;
    top: 0;
    background-color:black;
  }
  .red_rect_1_m {
    display: block;
    position: relative;
    width: 70%;
    height: 70%;
    top:-81vw;
    left: 12vw;
  }
  .blue_rect_1_m {
    display: block;
    position: relative;
    width: 70%;
    height: 70%;
    top:-136vw;
    left: 14vw;
  }
  .photo_circus_m {
    display: block;
    position: relative;
    width: 65%;
    height: 65%;
    top:-185vw;
    left:16vw;
  }
  .first_text_m {
    width: 56.976vw;
    height: 16.488vw;
    margin-top: -171vw;
    margin-left: 16vw;
  }
  .first_text_m p {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.429vw;
    font-weight: normal;
    vertical-align: top;
    text-align: left;
    line-height: auto;
    line-height: 1.1;
  }
  .wavy_m {
    position: absolute;
    display: block;
    width: 10%;
    height: 10%;
    top:76vw;
    left:0;
  }
  .circles_1_m {
    position: absolute;
    display: block;
    width: 35%;
    height: 22%;
    top:76vw;
    left:57vw;
  }
  .third_slide_m {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 100%;
    top:0;
    left:0;
  }
  .data_2_m {
    position: relative;
    display: block;
    margin: 2vw 13vw;
    text-align: center;
  }
  .second_comp_flex {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 2vw 0;
  }
  .second_comp_m {
    display: block;
    position: relative;
    top:-4vw;
  }
  .rect_2 {
    position: relative;
    display: block;
    width: 75%;
    height: 75%;
    top:-81vw;
    left: 11vw;
  }
  .photo_owner_m {
    display: block;
    position: relative;
    width: 75%;
    height: 75%;
    top:-141vw;
    left:15vw;
  }
  .dot_pattern_1_m {
    position: absolute;
    display: block;
    width: 7%;
    height: 16%;
    top:63vw;
    left:78vw;
  }
  .second_text_m {
    width: 56.976vw;
    height: 29.488vw;
    margin-top: -158vw;
    margin-left: 16vw;
  }
  .second_text_m p {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.429vw;
    font-weight: normal;
    vertical-align: top;
    text-align: left;
    line-height: auto;
    line-height: 1.1;
  }
  .circles_2_m {
    position: absolute;
    display: block;
    width: 18%;
    height: 22%;
    top:113vw;
    left:-19vw;
  }
  .third_slide_m {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 100%;
    top:0;
    left:0;
  }
  .data_3_m {
    position: relative;
    display: block;
    margin: 2vw 13vw;
    text-align: center;
  }
  .third_comp_flex {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 2vw 0;
  }
  .third_comp_m {
    display: block;
    position: relative;
    top:-4vw;
  }
  .rect_3 {
    position: relative;
    display: block;
    width: 75%;
    height: 75%;
    top:-77vw;
    left: 11vw;
  }
  .photo_party_m {
    display: block;
    position: relative;
    width: 53%;
    height: 53%;
    top:-147vw;
    left:20vw;
  }
  .third_text_m {
    width: 56.976vw;
    height: 25.488vw;
    margin-top: -143vw;
    margin-left: 16vw;
  }
  .third_text_m p {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.429vw;
    font-weight: normal;
    vertical-align: top;
    text-align: left;
    line-height: auto;
    line-height: 1.1;
  }
  .dot_pattern_2_m {
    position: relative;
    display: block;
    width: 20%;
    height: 20%;
    top:-75vw;
    left:-5vw;
  }
  .spiral_hypno_1_m {
    position: absolute;
    display: block;
    width: 35%;
    height: 35%;
    top:64vw;
    left:63vw;
  }
  .fifth_slide_m {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 100%;
    top:-10vw;
    left:0;
  }
  .data_4_m {
    width: 100%;
    height: 100%;
    left: -14vw;
    position: relative;
    display: block;
    margin: 2vw 13vw;
    text-align: center;
  }
  .fourth_comp_flex {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 2vw 0;
  }
  .fourth_comp_m {
    display: block;
    position: relative;
    top:-4vw;
  }
  .rect_4 {
    position: relative;
    display: block;
    width: 58%;
    height: 58%;
    top:-55vw;
    left: 7vw;
  }
  .photo_soviet_m {
    display: block;
    position: relative;
    width: 77%;
    height: 77%;
    top:-114vw;
    left:7vw;
  }
  .fifth_text_m {
    width: 56.976vw;
    height: 25.488vw;
    margin-top: -106vw;
    margin-left: 16vw;
  }
  .fifth_text_m p {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.429vw;
    font-weight: normal;
    vertical-align: top;
    text-align: left;
    line-height: auto;
    line-height: 1.1;
  }
  .sixth_slide_m {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 100%;
    top:-9vw;
    left:0;
  }
  .data_5_m {
    position: relative;
    display: block;
    margin: 2vw 13vw;
    text-align: center;
  }
  .fifth_comp_flex {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 2vw 0;
  }
  .fifth_comp_m {
    display: block;
    position: relative;
    top:-4vw;
  }
  .rect_5 {
    position: relative;
    display: block;
    width: 70%;
    height: 70%;
    top:-61vw;
    left: 8vw;
  }
  .photo_festival_m {
    display: block;
    position: relative;
    width: 72%;
    height: 72%;
    top:-113vw;
    left:12vw;
  }
  .sixth_text_m {
    width: 56.976vw;
    height: 0;
    margin-top: -105vw;
    margin-left: 16vw;
  }
  .sixth_text_m p {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.429vw;
    font-weight: normal;
    vertical-align: top;
    text-align: left;
    line-height: auto;
    line-height: 1.1;
  }
  .spiral_hypno_2_m {
    position: relative;
    display: block;
    width: 45%;
    height: 45%;
    top:-57vw;
    left:-1vw;
    z-index: -1;
  }
  .seventh_slide_m {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 100%;
    top:-21vw;
    left:0;
  }
  .data_6_m {
    position: relative;
    display: block;
    margin: 2vw 13vw;
    text-align: center;
  }
  .sixth_comp_flex {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 2vw 0;
  }
  .sixth_comp_m {
    display: block;
    position: relative;
    top:-4vw;
  }
  .rect_6 {
    position: relative;
    display: block;
    width: 70%;
    height: 70%;
    top:-61vw;
    left: 8vw;
  }
  .photo_building_m {
    display: block;
    position: relative;
    width: 72%;
    height: 72%;
    top:-117vw;
    left:14vw;
  }
  .circles_5_m {
    position: relative;
    display: block;
    width: 11%;
    height: 10%;
    margin-top: -56%;
    margin-left: 71vw;
  }
  .c_1_5_m {
    display: block;
    position: relative;
    border: solid 0.5vw;
    width: 10.571vw;
    height: 10.571vw;
    border-radius: 50%;
    left: 0vw;
    top: -16vw;
  }
  .c_2_5_m {
    display: block;
    position: relative;
    border: solid 0.5vw;
    width: 8.571vw;
    height: 8.571vw;
    border-radius: 50%;
    left: -2vw;
    top: -14vw;
  }
  .c_3_5_m {
    display: block;
    position: relative;
    border: solid 0.5vw;
    width: 3.571vw;
    height: 3.571vw;
    border-radius: 50%;
    left: -5vw;
    top: -13vw;
  }
  .seventh_text_m {
    width: 56.976vw;
    height: 29.488vw;
    margin-top: -118vw;
    margin-left: 16vw;
  }
  .seventh_text_m p {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.429vw;
    font-weight: normal;
    vertical-align: top;
    text-align: left;
    line-height: auto;
    line-height: 1.1;
  }
  .eight_slide_m {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 100%;
    top:0;
    left:0;
  }
  .data_7_m {
    position: relative;
    display: block;
    margin: 2vw 13vw;
    text-align: center;
    left:-2vw;
  }
  .seventh_comp_flex {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 2vw 0;
  }
  .seventh_comp_m {
    display: block;
    position: relative;
    top:-4vw;
    height: 60vw;
  }
  .rect_7 {
    position: relative;
    display: block;
    width: 90%;
    height: 90%;
    top:-49vw;
    left: 5vw;
  }
  .photo_furniture_m {
    display: block;
    position: relative;
    width: 67%;
    height: 57%;
    top:-91vw;
    left:15vw;
  }
  .eight_text_m {
    width: 56.976vw;
    height: 32.488vw;
    margin-top: -7vw;
    margin-left: 16vw;
    height: 0vw;

  }
  .eight_text_m p {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.429vw;
    font-weight: normal;
    vertical-align: top;
    text-align: left;
    line-height: auto;
    line-height: 1.1;
  }
  .dot_pattern_3_m {
    position: absolute;
    display: block;
    width: 22%;
    height: 22%;
    top:55vw;
    left:66vw;
    z-index: -1;
  }
  .slider_m {
    display: block;
    position: relative;
    padding-top:14vw;
    padding-bottom: 3vw;
    min-width: 0;
    z-index: -1;
  }
  .slider_item {
    text-align: center;
    transition: all 0.5s ease-in-out 0s;
  }
  .slider_m .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    margin-top:-1vw;
    margin-bottom: 0vw;
  }
  .slider_m .slick-dots li {
    list-style: none;
    margin: 1vw 1vw;
    z-index: 2000;
  }
  .slider_m .slick-dots li.slick-active button {
    background-color: black;
  }
  .slider_m .slick-dots button {
    font-size: 0;
    width: 3vw;
    height: 3vw;
    border: 0.37vw solid black;
    border-radius:50%;
    background-color: transparent;
  }
  .slick-track {
    display: flex;
    align-items: flex-start;
  }
  .slick-list {
    overflow: hidden;
  }
}
@media (max-width: 320px) {
  .first_slide, .second_slide, .third_slide, .fourth_slide, .fifth_slide, .sixth_slide, .seventh_slide, .eight_slide {
    display: none;
  }
  .header {
    display: none;
  }
  .slider {
    display: none;
  }
  .footer {
    display: none;
  }
  .footer_m {
    margin-top: 10vw;
  }
  .sticky_element {
    display: none;
  }
  }
