@media (max-width: 1680px) {
  .mobile {
    display: none;
  }
  .sticky_element_m {
    display: none;
  }
@media (max-width: 1440px) {
  .mobile {
    display: none;
  }
  .sticky_element_m {
    display: none;
  }
@media (max-width: 1366px) {
  .mobile {
    display: none;
  }
  .sticky_element_m {
    display: none;
  }
@media (max-width: 1280px) {
  .mobile {
    display: none;
  }
  .sticky_element_m {
    display: none;
  }
@media (max-width: 1024px) {
  .mobile {
    display: none;
  }
  .sticky_element_m {
    display: none;
  }
@media (max-width: 768px) {
  .first_slide, .second_slide, .third_slide, .fourth_slide, .fifth_slide, .sixth_slide, .seventh_slide, .eight_slide {
    display: none;
  }
  .mobile {
    display: block;
    position: relative;
  }
  .first_slide_m {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    top:10vw;
    /* height: 49.048vw; */
    left:0;
    padding-top: 2vw;
  }
  .fish_dish_m {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    top: 0vw;
    right: 0vw;
    margin-top: 9vw;
    margin-bottom: 3vw;
  }
  .baton_m {
    display: block;
    position: relative;
    top:0vw;
    z-index: 49;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: all 0.3s ease-out;
  }
  .baton_m button {
    width: 58vw;
    height: 8vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: rgba(162, 42, 47, 1);
    background-color: white;
    font-size: 4.2vw;
    border: 0.7vw solid rgba(162, 42, 47, 1);
    max-width: 100%;
    white-space: nowrap;
    transition: all 0.3s ease-out;
  }
  .second_slide_m {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 100%;
    top: 0vw;
    left:0;
  }
  .data_1_m {
    position: relative;
    display: block;
    margin: 2vw 13vw;
    text-align: center;
  }
  .first_comp_flex {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 2vw 0;
  }
  .first_comp_m {
    display: block;
    position: relative;
    top:0vw;
  }
  .time_lines_m {
    display: block;
    position: relative;
    top:3vw;
    left:0;
    z-index: -1;
  }
  .time_circle {
    display: block;
    position: relative;
    border: solid 1vw;
    width: 6.571vw;
    height: 6.571vw;
    border-radius: 50%;
    left: 41vw;
    top: 0;
  }
  .time_line {
    display: block;
    position: relative;
    width: 0.776vw;
    height: 61.619vw;
    left: 43.8vw;
    top: 0;
    background-color:black;
  }
  .red_rect_1_m {
    display: block;
    position: relative;
    width: 70%;
    height: 70%;
    top:-81vw;
    left: 12vw;
  }
  .blue_rect_1_m {
    display: block;
    position: relative;
    width: 70%;
    height: 70%;
    top:-136vw;
    left: 14vw;
  }
  .photo_circus_m {
    display: block;
    position: relative;
    width: 65%;
    height: 65%;
    top:-185vw;
    left:16vw;
  }
  .first_text_m {
    width: 56.976vw;
    height: 16.488vw;
    margin-top: -171vw;
    margin-left: 16vw;
  }
  .first_text_m p {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.429vw;
    font-weight: normal;
    vertical-align: top;
    text-align: left;
    line-height: auto;
    line-height: 1.1;
  }
  .wavy_m {
    position: absolute;
    display: block;
    width: 10%;
    height: 10%;
    top:76vw;
    left:0;
  }
  .circles_1_m {
    position: absolute;
    display: block;
    width: 35%;
    height: 22%;
    top:76vw;
    left:57vw;
  }
  .third_slide_m {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 100%;
    top:0;
    left:0;
  }
  .data_2_m {
    position: relative;
    display: block;
    margin: 2vw 13vw;
    text-align: center;
  }
  .second_comp_flex {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 2vw 0;
  }
  .second_comp_m {
    display: block;
    position: relative;
    top:0vw;
  }
  .rect_2 {
    position: relative;
    display: block;
    width: 75%;
    height: 75%;
    top:-81vw;
    left: 11vw;
  }
  .photo_owner_m {
    display: block;
    position: relative;
    width: 75%;
    height: 75%;
    top:-141vw;
    left:15vw;
  }
  .dot_pattern_1_m {
    position: absolute;
    display: block;
    width: 7%;
    height: 16%;
    top:63vw;
    left:78vw;
  }
  .second_text_m {
    width: 56.976vw;
    height: 16.488vw;
    margin-top: -154vw;
    margin-left: 16vw;
  }
  .second_text_m p {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.429vw;
    font-weight: normal;
    vertical-align: top;
    text-align: left;
    line-height: auto;
    line-height: 1.1;
  }
  .circles_2_m {
    position: absolute;
    display: block;
    width: 18%;
    height: 22%;
    top:113vw;
    left:-19vw;
  }
@media (max-width: 320px) {
  .first_slide, .second_slide, .third_slide, .fourth_slide, .fifth_slide, .sixth_slide, .seventh_slide, .eight_slide {
    display: none;
  }
  }
