    .wavy_line_1 {
      animation: bouncing_ball 3s ease-in-out -0.1s alternate infinite;
  }
    .wavy_line_2 {
      animation: bouncing_ball 3s ease-in-out -0.3s alternate infinite;
  }
    .wavy_line_3 {
      animation: bouncing_ball 3s ease-in-out -0.5s alternate infinite;
  }
    @keyframes bouncing_ball {
    0% {transform: translateY(0%);}
    50% {transform: translateY(-10%);}
    100% {transform: translateY(10%);}
  }
  .c_1 {
    animation: zoom-in-out 3s ease-in-out -0.1s alternate infinite;
  }
  .c_2 {
    animation: zoom-in-out 3s ease-in-out -0.3s alternate infinite;
  }
  .c_3 {
    animation: zoom-in-out 3s ease-in-out -0.5s alternate infinite;
  }
  .c_1_4_1 {
    animation: zoom-in-out 1s ease-in-out -0.1s alternate infinite;
  }
  .c_1_4 {
    animation: zoom-in-out 1s ease-in-out -0.3s alternate infinite;
  }
  .c_1_3_2 {
    animation: zoom-in-out 1s ease-in-out -0.5s alternate infinite;
  }
  @keyframes zoom-in-out {
    0% {transform: scale(1, 1);}
    50% {transform: scale(1.3, 1.3);}
    100% {transform: scale(1, 1);}
  }
  .blue_rect_1:hover {
    animation: rectangles 2s ease-in-out alternate;
  }
  .blue_rect_2:hover {
    animation: rectangles 2s ease-in-out alternate;
  }
  .blue_rect_3:hover {
    animation: rectangles 2s ease-in-out alternate;
  }
  .blue_rect_4:hover {
    animation: rectangles 2s ease-in-out alternate;
  }
  .blue_rect_5:hover {
    animation: rectangles 2s ease-in-out alternate;
  }
  @keyframes rectangles {
    0% {transform: scale(1) rotate(0deg);}
    50% {transform: scale(1.3) rotate(360deg);}
    100% {transform: scale(1) rotate(0deg);}
  }
  .{
  animation: opacitything 1s ease-in-out alternate infinite;
  }
  @keyframes opacitything {
    0% {filter:blur(0px);; transform: scale(1);}
    100% {filter:blur(1px);; transform: scale(0.9);}
  }
  .photo_circus, .photo_owner, .photo_soviet, .photo_building,
  .photo_festival, .photo_furniture, .photo_party, .photo_circus_m, 
  .photo_owner_m, .photo_soviet_m, .photo_building_m,
  .photo_festival_m, .photo_furniture_m, .photo_party_m {
    animation: photo_filter 6s ease-in-out alternate infinite;
  }
  @keyframes photo_filter {
    0% {transform: translateX(-2px) translateY(2px);}
    25% {transform: translateX(2px) translateY(-2px);}
    50% {transform: translateX(-2px) translateY(-2px);}
    75% {transform: translateX(2px) translateY(-2px);}
    100% {transform: translateX(0px) translateY(0px);}
  }
  . {
    animation: hithere 1s ease infinite;
  }
  @keyframes hithere {
  30% {transform: scale(0.6);}
  40%, 60% {transform: rotate(-20deg) scale(1.1);}
  50% {transform: rotate(20deg) scale(1.1);}
  70% {transform: rotate(0deg) scale(1.1);}
  100% {transform: scale(1);}
  }
  .c_1_2 {
    animation: bounce-4 3s ease -0.1s infinite;
  }
  .c_2_2 {
    animation: bounce-4 3s ease -0.3s infinite;
  }
  .c_3_2 {
    animation: bounce-4 3s ease 0.1s infinite;
  }
  .c_2_6 {
    animation: bounce-4_2 3s ease 0.1s infinite;

  }
   @keyframes bounce-4 {
       0%   {transform: scale(1,1) translateY(0);}
       10%  {transform: scale(1.1,.9) translateY(0);}
       30%  {transform: scale(.9,1.1) translateY(-60vw);}
       50%  {transform: scale(1,1) translateY(30vw);}
       100% {transform: scale(1,1) translateY(0);}
   }
   @keyframes bounce-4_2 {
       0%   {transform: scale(1,1) translateY(0);}
       10%  {transform: scale(1.1,.9) translateY(0);}
       30%  {transform: scale(.9,1.1) translateY(-60vw);}
       50%  {transform: scale(1,1) translateY(10vw);}
       100% {transform: scale(1,1) translateY(0);}
   }
   .spiral_hypno_1 {
     animation: rotate 1s ease-in-out infinite alternate;
   }
   .spiral_hypno_2 {
     animation: rotate 1s ease-in-out infinite alternate;
   }
 @keyframes rotate {
   0% {transform: rotateY(0deg) rotateX(0deg);filter: blur(0px);transform: translateX(-2px) translateY(2px);}
   50% {transform: rotateY(10deg) rotateX(-10deg);filter: blur(2px);transform: translateX(-2px) translateY(-2px);}
   100% {transform: rotateY(5deg) rotateX(-5deg);filter: blur(1px);transform: translateX(0px) translateY(0px);}
 }
 .wavy_1 {
  animation: gelatine 1s infinite;
  }
  @keyframes gelatine {
  from, to {transform: scale(1, 1)}
  25% {transform: scale(0.8, 1.2);}
  50% {transform: scale(1.2, 0.8);}
  75% {transform: scale(0.95, 1.05);}
  }
  .c_1_5 {
    animation: photo_filter 3s ease-in-out alternate infinite;
  }
  .c_2_5 {
    animation: photo_filter 3s ease-in-out alternate infinite;
  }
  .c_3_5 {
    animation: photo_filter 3s ease-in-out alternate infinite;
  }
