  *,*:before, *:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
  }
  html, body {
    height: 100%;
  }
  body img {
    width: 100%;
    height: 100%;
  }
  .wrapper {

  }
  .container {
    max-width: 88.393vw;
    margin: 0 auto;
    padding: 0;
  }
  .header {
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    z-index: 50;
  }
  .header:before {
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: white;
  }
  .header_body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 7.119vw;
    align-items: flex-end;
    margin-bottom: 2.2vw;
  }
  .header_logo {
    flex: 0 0 15vw;
    z-index: 3;
    position: relative;
  }
  .header_logo_2 {
    flex: 0 0 30vw;
    z-index: 3;
    position: relative;
  }
  .header_logo img {
    max-width: 100%;
  }
  .header_logo_2 img {
    max-width: 100%;
  }
  .header_burger {
    display: block;
    position: relative;
    width: 6vw;
    height: 3vw;
    z-index: 3;
  }
  .header_burger:before, .header_burger:after {
    content: '';
    background-color: black;
    position: absolute;
    width: 100%;
    height: 0.4vw;
    left: 0;
  }
  .header_burger:before {
    top:0;
  }
  .header_burger:after {
    bottom: 0;
  }
  .header_burger span {
    position: absolute;
    background-color: black;
    left: 0;
    width: 100%;
    height: 0.4vw;
    top: 1.3vw;
  }
  .header_menu {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: yellow;
    padding: 20vw 0 0 0;
  }
  .header_list {
    display: flex;
    position: relative;
    z-index: 2;
  }
  .header_list li {
    list-style: none;
    margin: 0 0 0 1vw;
  }
  .header_link {
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
  }
  .content {
    padding: 20vw;
  }
  .content_text {

  }
  p {
    font-family: 'Montserrat', sans-serif;
  }
  h1 {
    font-family: 'Oswald', sans-serif; font-size: 4.167vw; color: black; vertical-align: top; text-align: left; font-weight: 600;
  }
