  *,*:before, *:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
  }
  html, body {
    height: 100%;
  }
  body img {
    width: 100%;
    height: 100%;
  }
  .wrapper {

  }
  body.lock {
    overflow: hidden;
  }
  .container {
    max-width: 88.393vw;
    margin: 0 auto;
    padding: 0;
  }
  .header {
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    z-index: 50;
  }
  .header:before {
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: white;
  }
  .header_body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 7.1vw;
    align-items: flex-end;
    margin-bottom: 2.4vw;
  }
  .header_logo {
    flex: 0 0 17vw;
    z-index: 3;
    position: relative;
  }
  .header_logo_2 {
    flex: 0 0 30vw;
    z-index: 3;
    position: relative;
  }
  .header_logo img {
    max-width: 100%;
  }
  .header_logo_2 img {
    max-width: 100%;
  }
  .header_burger {
    display: block;
    position: relative;
    width: 6vw;
    height: 3vw;
    z-index: 3;
  }
  .header_burger span {
    position: absolute;
    background-color: black;
    left: 0;
    width: 100%;
    height: 0.4vw;
    top: 1.3vw;
    transition: all 0.3s ease 0s;
  }
  .header_burger:before,
  .header_burger:after {
    content: '';
    background-color: black;
    position: absolute;
    width: 100%;
    height: 0.4vw;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header_burger:before {
    top:0;
  }
  .header_burger:after {
    bottom: 0;
  }
  .flex_menu_1 {
    display: flex;
    justify-content: space-between;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 4vw;
    flex-direction: column;
  }
  .lower {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 2vw;
  }
  .flex_menu_2 {
    display: flex;
    justify-content: space-between;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 4vw;
  }
  .flex_menu_3 {
    display: flex;
    justify-content: space-between;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 4vw;
    flex-direction: column;
  }
  .header_contact {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    max-width: 87.393vw;
    text-align: center;
    left:0;
    right: 0;
    margin-left: 6vw;
    margin-top: 10vw;
  }
  .header_contact a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 1.369vw;
  }
  .header_menu {
    position: fixed;
    top:-100%;
    left:0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease 0s;
    background-color: rgba(162, 42, 47, 1);
    padding: 15vw 0 0 0;
  }
  .header_menu.active {
    top:0;
  }
  .header_list {
    display: flex;
    position: relative;
    z-index: 2;
    max-width: 87.393vw;
    justify-content: space-between;
    left:0;
    right: 0;
    align-items: flex-start;
    margin-left: 6vw;
    margin-right: 6vw;
  }
  .header_list li {
    list-style: none;
    }
  .header_link {
    text-decoration: none;
    color: white;
  }
  .header_link.lower {
    color: rgba(196, 196, 196, 1)
  }
  .content {
    max-width: 88.393vw;
    margin-left: 6vw;
    margin-right: 6vw;
    position: relative;
    display: block;
    height: 100%;
  }
  .container_content {
    display: block;
    position: relative;
    height: 606.964vw;
  }
  .first_slide {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 100%;
    top:10vw;
    height: 49.048vw;
    left:0;
    padding-top: 2vw;
  }
  .second_slide {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 100%;
    top:0;
    /* height: 49.048vw; */
    left:0;
  }
  .dish_circle {
    position: relative;
    display: block;
    width: 90%;
    height: 90%;
    right:18.4vw;
    margin: 1vw 0 0 0;
  }
  .data_1 {
    position: relative;
    display: block;
    top: 10vw;
    width: 50%;
    height: 50%;
    left:24vw;
  }
  .dish_fish {
    position: relative;
    display: block;
    width: 63%;
    height: 63%;
    top: -29.9vw;
    right: 1vw;
  }
  .first_comp {
    display: block;
    position: relative;
  }
  .red_rect_1 {
    display: block;
    position: relative;
    width: 50%;
    height: 50%;
    left:21vw;
    top:25vw;
  }
  .blue_rect_1 {
    display: block;
    position: relative;
    width: 50%;
    height: 50%;
    left:21vw;
    top:-14vw;
  }
  .photo_circus {
    display: block;
    position: relative;
    width: 45%;
    height: 45%;
    top:-48.5vw;
    left: 24vw;
  }
  .first_text {
    width: 27.976vw;
    height: 6.488vw;
    bottom: 12vw;
    margin-top: -42vw;
    margin-left: 12vw;
  }
  .time_lines {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    top:0;
    left:0;
    z-index: -1;
  }
  .time_circle {
    display: block;
    position: relative;
    border: solid 0.655vw;
    width: 3.571vw;
    height: 3.571vw;
    border-radius: 50%;
    left: 42vw;
    top: -56vw;
  }
  .time_line {
    display: block;
    position: relative;
    width: 0.476vw;
    height: 52.619vw;
    left: 43.5vw;
    top: -56vw;
    background-color:black;
    margin-bottom: 22.4vw;
  }
  .time_circle_2 {
    display: block;
    position: relative;
    border: solid 0.655vw;
    width: 3.571vw;
    height: 3.571vw;
    border-radius: 50%;
    left: 42vw;
    top: -56vw;
  }
  .time_line_2 {
    display: block;
    position: relative;
    width: 0.476vw;
    height: 52.619vw;
    left: 43.5vw;
    top: -56vw;
    background-color:black;
    margin-bottom: 2.4vw;
  }
  .text_dish {
    position: relative;
    display: block;
    top:-59vw;
    width: 32%;
    left:59.643vw;
    height: 15.56vw;
  }
  .text_dish h1 {
    margin-bottom: 0.6vw;
  }
  .text_dish h2 {
    margin-bottom: 3vw;
  }
  .header_burger.active span {
    transform: scale(0);
  }
  .header_burger.active:before {
    transform: rotate(45deg);
    top: 1.3vw;
  }
  .header_burger.active:after {
    transform: rotate(-45deg);
    bottom: 1.3vw;
  }
  .upper_menu li {
    margin-bottom: 1vw;
  }
  .lower_menu li {
    margin-bottom: -1.3vw;
  }
  button {
  width: 17.500vw;
  height: 3.333vw;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: rgba(162, 42, 47, 1);
  background-color: white;
  font-size: 1.38vw;
  border: 0.2vw solid rgba(162, 42, 47, 1);
  padding: 0.1vw 0.1vw 0.1vw 0.1vw;
  max-width: 100%;
  white-space: nowrap;
  }
  .dish_bottom {
    position: relative;
    display: block;
    top:-20.8vw;
    margin: 0 0 0 0;
    width: 111%;
    height: 100%;
    left:18.5vw;
  }
  button p {

  }
  .baton {
    display: block;
    position: relative;
    top:5vw;
  }
  p {
    font-family: 'Montserrat', sans-serif; font-size: 1.429vw; font-weight: normal; vertical-align: top; text-align: left;
  }
  h1 {
    font-family: 'Oswald', sans-serif; font-size: 4.167vw; color: black; vertical-align: top; text-align: left; font-weight: 500;
  }
  h2 {
    font-family: 'Montserrat', sans-serif; font-size: 2.083vw; font-weight: medium; vertical-align: top; text-align: left;
  }
