  *,*:before, *:after {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border: 0;
    box-sizing: border-box;
  }
  html, body {
    height: 100%;
  }
  body {
    overflow-x: hidden;
  }
  body img {
    width: 100%;
    height: 100%;
  }
  .wrapper {
    max-width: 100%;
    /* overflow: hidden; */
  }
  .container {
    max-width: 88.393vw;
    margin: 0 auto;
    padding: 0;
  }
  .header {
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    z-index: 50;
  }
  .header:before {
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: white;
  }
  .header_body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 7.1vw;
    align-items: flex-end;
    margin-bottom: 2.4vw;
  }
  .header_logo {
    flex: 0 0 17vw;
    z-index: 3;
    position: relative;
  }
  .header_logo_2 {
    flex: 0 0 30vw;
    z-index: 3;
    position: relative;
  }
  .header_logo img {
    max-width: 100%;
  }
  .header_logo_2 img {
    max-width: 100%;
  }
  .header_burger {
    display: block;
    position: relative;
    width: 6vw;
    height: 3vw;
    z-index: 3;
  }
  .header_burger span {
    position: absolute;
    background-color: black;
    left: 0;
    width: 100%;
    height: 0.4vw;
    top: 1.3vw;
    transition: all 0.3s ease 0s;
  }
  .header_burger:before,
  .header_burger:after {
    content: '';
    background-color: black;
    position: absolute;
    width: 100%;
    height: 0.4vw;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header_burger:before {
    top:0;
  }
  .header_burger:after {
    bottom: 0;
  }
  .flex_menu_1 {
    display: flex;
    justify-content: space-between;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 4vw;
    flex-direction: column;
  }
  .lower {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 2vw;
  }
  .flex_menu_2 {
    display: flex;
    justify-content: space-between;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 4vw;
  }
  .flex_menu_3 {
    display: flex;
    justify-content: space-between;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 4vw;
    flex-direction: column;
  }
  .header_contact {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    max-width: 87.393vw;
    text-align: center;
    left:0;
    right: 0;
    margin-left: 6vw;
    margin-top: 10vw;
  }
  .header_contact a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 1.369vw;
  }
  .header_menu {
    position: fixed;
    top:-100%;
    left:0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease 0s;
    background-color: rgba(162, 42, 47, 1);
    padding: 15vw 0 0 0;
  }
  .header_menu.active {
    top:0;
  }
  .header_list {
    display: flex;
    position: relative;
    z-index: 2;
    max-width: 87.393vw;
    justify-content: space-between;
    left:0;
    right: 0;
    align-items: flex-start;
    margin-left: 6vw;
    margin-right: 6vw;
  }
  .header_list li {
    list-style: none;
    }
  .header_link {
    text-decoration: none;
    color: white;
  }
  .header_link.lower {
    color: rgba(196, 196, 196, 1)
  }
  .content {
    max-width: 88.393vw;
    margin-left: 6vw;
    margin-right: 6vw;
    position: relative;
    display: block;
    height: 100%;
  }
  .container_content {
    display: block;
    position: relative;
    height: 628.964vw;
  }
  .first_slide {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 100%;
    top:10vw;
    height: 49.048vw;
    left:0;
    padding-top: 2vw;
  }
  .second_slide {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 100%;
    top:7.6vw;
    height: 78.048vw;
    left:0;
  }
  .dish_circle {
    position: relative;
    display: block;
    width: 90%;
    height: 90%;
    right:18.4vw;
    margin: 1vw 0 0 0;
  }
  .data_1 {
    position: relative;
    display: block;
    top: -13vw;
    width: 50%;
    height: 50%;
    left:24vw;
  }
  .data_2 {
    position: relative;
    display: block;
    top: -13vw;
    width: 50%;
    height: 50%;
    left:21vw;
  }
  .data_3 {
    position: relative;
    display: block;
    top: -13vw;
    width: 50%;
    height: 50%;
    left:21.4vw;
  }
  .data_4 {
    position: relative;
    display: block;
    top: -22vw;
    width: 75%;
    height: 75%;
    left:9.5vw;
  }
  .data_5 {
    position: relative;
    display: block;
    top: -3vw;
    width: 48%;
    height: 48%;
    left:21.5vw;
  }
  .data_6 {
    position: relative;
    display: block;
    top: -3vw;
    width: 48%;
    height: 48%;
    left:22.5vw;
  }
  .data_7 {
    position: relative;
    display: block;
    top: -3vw;
    width: 48%;
    height: 48%;
    left:21.5vw;
  }
  .dish_fish {
    position: relative;
    display: block;
    width: 63%;
    height: 63%;
    top: -30.1vw;
    right: 1vw;
  }
  .first_comp {
    display: block;
    position: relative;
    top:-39vw;
  }
  .second_comp {
    display: block;
    position: relative;
    top:-39vw;
  }
  .third_comp {
    display: block;
    position: relative;
    top:-38vw;
  }
  .fourth_comp {
    display: block;
    position: relative;
    top:-58vw;
  }
  .fifth_comp {
    display: block;
    position: relative;
    top:-25vw;
  }
  .sixth_comp {
    display: block;
    position: relative;
    top:-21vw;
  }
  .seventh_comp {
    display: block;
    position: relative;
    top:3vw;
    height: 46vw;
  }
  .red_rect_1 {
    display: block;
    position: relative;
    width: 50%;
    height: 50%;
    left:21vw;
    top:20vw;
  }
  .red_rect_2 {
    display: block;
    position: relative;
    width: 50%;
    height: 50%;
    left:21vw;
    top:20vw;
  }
  .red_rect_3 {
    display: block;
    position: relative;
    width: 50%;
    height: 50%;
    left:21vw;
    top:20vw;
  }
  .red_rect_4 {
    display: block;
    position: relative;
    width: 50%;
    height: 50%;
    left:21vw;
    top:20vw;
  }
  .red_rect_5 {
    display: block;
    position: relative;
    width: 50%;
    height: 50%;
    left:24vw;
    top:15vw;
  }
  .red_rect_6 {
    display: block;
    position: relative;
    width: 47%;
    height: 47%;
    left:23%;
    top:15vw;
  }
  .red_rect_7 {
    display: block;
    position: relative;
    width: 85%;
    height: 85%;
    left:8%;
    top:-13vw;
  }
  .blue_rect_1 {
    display: block;
    position: relative;
    width: 50%;
    height: 50%;
    left:21vw;
    top:-19vw;
  }
  .blue_rect_2 {
    display: block;
    position: relative;
    width: 50%;
    height: 50%;
    left:21vw;
    top:-19vw;
  }
  .blue_rect_3 {
    display: block;
    position: relative;
    width: 50%;
    height: 50%;
    left:21vw;
    top:-28.5vw;
  }
  .blue_rect_4 {
    display: block;
    position: relative;
    width: 50%;
    height: 50%;
    left:21vw;
    top:-28.5vw;
  }
  .blue_rect_5 {
    display: block;
    position: relative;
    width: 60%;
    height: 60%;
    left:16vw;
    top:-33.5vw;
  }
  .blue_rect_6 {
    display: block;
    position: relative;
    width: 60%;
    height: 60%;
    left:13vw;
    top:-34.5vw;
  }
  .blue_rect_7 {
    display: block;
    position: relative;
    width: 85%;
    height: 85%;
    left:8%;
    top:-47.5vw;
    transform: rotate(10deg);
  }
  .photo_circus {
    display: block;
    position: relative;
    width: 45%;
    height: 45%;
    top:-53.5vw;
    left: 24vw;
  }
  .photo_owner {
    display: block;
    position: relative;
    width: 45%;
    height: 45%;
    top:-53.5vw;
    left: 24vw;
  }
  .photo_party {
    display: block;
    position: relative;
    width: 33%;
    height: 33%;
    top:-73.5vw;
    left: 29vw;
  }
  .photo_soviet {
    display: block;
    position: relative;
    width: 53%;
    height: 53%;
    top:-73.5vw;
    left: 18.1vw;
  }
  .photo_festival {
    display: block;
    position: relative;
    width: 53%;
    height: 53%;
    top:-71.5vw;
    left: 20.1vw;
  }
  .photo_building {
    display: block;
    position: relative;
    width: 60%;
    height: 60%;
    top:-80.5vw;
    left: 18.1vw;
  }
  .photo_furniture {
    display: block;
    position: relative;
    width: 60%;
    height: 60%;
    top:-80.5vw;
    left: 17.1vw;
  }
  .first_text {
    width: 27.976vw;
    height: 6.488vw;
    bottom: 12vw;
    margin-top: -86vw;
    margin-left: 15vw;
  }
  .second_text {
    width: 27.976vw;
    height: 6.488vw;
    bottom: 12vw;
    margin-top: -101vw;
    margin-left: 45vw;
  }
  .third_text {
    width: 27.976vw;
    height: 6.488vw;
    bottom: 12vw;
    margin-top: -107vw;
    margin-left: 16vw;
  }
  .fourth_text {
    width: 27.976vw;
    height: 6.488vw;
    bottom: 12vw;
    margin-top: -118vw;
    margin-left: 45vw;
  }
  .fifth_text {
    width: 27.976vw;
    height: 6.488vw;
    bottom: 12vw;
    margin-top: -88vw;
    margin-left: 17vw;
  }
  .sixth_text {
    width: 27.976vw;
    height: 6.488vw;
    bottom: 12vw;
    margin-top: -103vw;
    margin-left: 45vw;
  }
  .seventh_text {
    width: 27.976vw;
    height: 6.488vw;
    bottom: 12vw;
    margin-top: -14vw;
    margin-left: 16vw;
  }
  .wavy {
    position: absolute;
    display: block;
    width: 10%;
    height: 10%;
    top:50vw;
    left:0;
  }
  .wavy_1 {
    position: absolute;
    display: block;
    width: 10%;
    height: 10%;
    top:11vw;
    left:39vw;
    z-index: -1;
  }
  .wavy_flex {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 65vw;
    width: 12vw;
  }
  .wavy_flex_1 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 65vw;
    width: 12vw;
    transform: rotate(90deg);

  }
  .wavy_flex_1 img {
    width: 50%;
    height: 50%;
  }
  .wavy_flex img {
    width: 50%;
    height: 50%;
  }
  .circles_1 {
    position: absolute;
    display: block;
    width: 35%;
    height: 22%;
    top:55vw;
    left:49vw;
  }
  .circles_2 {
    position: absolute;
    display: block;
    width: 35%;
    height: 22%;
    top:71vw;
    left:-13vw;
  }
  .circles_3 {
    position: absolute;
    display: block;
    width: 35%;
    height: 22%;
    top:71vw;
    left:-13vw;
  }
  .circles_3_1 {
    position: absolute;
    display: block;
    width: 35%;
    height: 22%;
    top:71vw;
    left:-13vw;
  }
  .circles_3_2 {
    position: absolute;
    display: block;
    width: 35%;
    height: 22%;
    top:134vw;
    left:56vw;
  }
  .circles_4 {
    position: absolute;
    display: block;
    width: 35%;
    height: 22%;
    top:71vw;
    left:-13vw;
  }
  .circles_4_1 {
    position: absolute;
    display: block;
    width: 35%;
    height: 22%;
    top:71vw;
    left:-13vw;
  }
  .circles_4_2 {
    position: absolute;
    display: block;
    width: 35%;
    height: 22%;
    top:134vw;
    left:56vw;
  }
  .circles_5 {
    position: absolute;
    display: block;
    width: 35%;
    height: 22%;
    top:71vw;
    left:-13vw;
  }
  .circles_6 {
    position: absolute;
    display: block;
    width: 35%;
    height: 22%;
    top:71vw;
    left:-13vw;
  }
  .time_lines {
    display: block;
    position: relative;
    top:0;
    left:0;
    z-index: -1;
  }
  .time_lines_2 {
    display: block;
    position: relative;
    top:-11vw;
    left:0;
    z-index: -1;
  }
  .time_lines_3 {
    display: block;
    position: relative;
    top:-11vw;
    left:0;
    z-index: -1;
  }
  .time_lines_4 {
    display: block;
    position: relative;
    top:-9vw;
    left:0;
    z-index: -1;
  }
  .time_lines_5 {
    display: block;
    position: relative;
    top:-12vw;
    left:0;
    z-index: -1;
  }
  .time_lines_6 {
    display: block;
    position: relative;
    top:0vw;
    left:0;
    z-index: -1;
    height: 0;
  }
  .third_slide {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 100%;
    top:7.6vw;
    height: 78.048vw;
    left:0;
  }
  .fourth_slide {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 100%;
    top:7.6vw;
    height: 78.048vw;
    left:0;
  }
  .fifth_slide {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 100%;
    top:16.6vw;
    height: 78.048vw;
    left:0;
  }
  .sixth_slide {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 100%;
    top: 16.6vw;
    height: 78.048vw;
    left:0;
  }
  .seventh_slide {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 100%;
    top: 23vw;
    height: 78.048vw;
    left:0;
  }
  .eight_slide {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 100%;
    top: 30vw;
    height: 78.048vw;
    left:0;
  }
  .dot_pattern_1 {
    position: absolute;
    display: block;
    width: 35%;
    height: 22%;
    top:37vw;
    left:55vw;
  }
  .dot_pattern_2 {
    position: absolute;
    display: block;
    width: 22%;
    height: 22%;
    top:37vw;
    left:-6vw;
  }
  .dot_pattern_3 {
    position: absolute;
    display: block;
    width: 22%;
    height: 22%;
    top:43vw;
    left:60vw;
    z-index: -1;
  }
  .spiral_hypno_1 {
    position: absolute;
    display: block;
    width: 35%;
    height: 35%;
    top:64vw;
    left:63vw;
  }
  .spiral_hypno_2 {
    position: absolute;
    display: block;
    width: 35%;
    height: 35%;
    top:36vw;
    left:7vw;
    z-index: -1;
  }
  .time_circle {
    display: block;
    position: relative;
    border: solid 0.655vw;
    width: 3.571vw;
    height: 3.571vw;
    border-radius: 50%;
    left: 42vw;
    top: -51vw;
  }
  .time_line {
    display: block;
    position: relative;
    width: 0.476vw;
    height: 52.619vw;
    left: 43.5vw;
    top: -51vw;
    background-color:black;
    margin-bottom: 22.4vw;
  }
  .time_circle_2 {
    display: block;
    position: relative;
    border: solid 0.655vw;
    width: 3.571vw;
    height: 3.571vw;
    border-radius: 50%;
    left: 42vw;
    top: -56vw;
  }
  .time_line_2 {
    display: block;
    position: relative;
    width: 0.476vw;
    height: 52.619vw;
    left: 43.5vw;
    top: -56vw;
    background-color:black;
    margin-bottom: 2.4vw;
  }
  .time_line_3 {
    display: block;
    position: relative;
    width: 0.476vw;
    height: 62.619vw;
    left: 43.5vw;
    top: -51vw;
    background-color:black;
    margin-bottom: 2.4vw;
  }
  .time_line_4 {
    display: block;
    position: relative;
    width: 0.476vw;
    height: 52.619vw;
    left: 43.5vw;
    top: -51vw;
    background-color:black;
    margin-bottom: 2.4vw;
  }
  .text_dish {
    position: relative;
    display: block;
    top:-61vw;
    width: 32%;
    left:59.643vw;
    height: 15.56vw;
  }
  .c_1 {
    display: block;
    position: relative;
    border: solid 0.655vw;
    width: 7.571vw;
    height: 7.571vw;
    border-radius: 50%;
    left: 21vw;
    top: 2vw;
  }
  .c_1_2 {
    display: block;
    position: relative;
    border: solid 1.655vw;
    width: 7.571vw;
    height: 7.571vw;
    border-radius: 50%;
    left: 21vw;
    top: 2vw;
  }
  .c_1_5 {
    display: block;
    position: relative;
    border: solid 0.5vw;
    width: 8.571vw;
    height: 8.571vw;
    border-radius: 50%;
    left: 77vw;
    top: -16vw;
  }
  .c_1_6 {
    display: block;
    position: relative;
    border: solid 0.5vw;
    width: 20.571vw;
    height: 20.571vw;
    border-radius: 50%;
    left: -3vw;
    top: -45vw;
  }
  .c_2_6 {
    display: block;
    position: relative;
    border: solid 0.5vw;
    width: 2.571vw;
    height: 2.571vw;
    border-radius: 50%;
    left: 18vw;
    top: -20vw;
  }
  .c_2_5 {
    display: block;
    position: relative;
    border: solid 0.5vw;
    width: 5.571vw;
    height: 5.571vw;
    border-radius: 50%;
    left: 79vw;
    top: -14vw;
  }
  .c_3_5 {
    display: block;
    position: relative;
    border: solid 0.5vw;
    width: 3.571vw;
    height: 3.571vw;
    border-radius: 50%;
    left: 77vw;
    top: -13vw;
  }
  .c_1_3 {
    display: block;
    position: relative;
    border: solid 0.5vw;
    width: 3.571vw;
    height: 3.571vw;
    border-radius: 50%;
    left: 92vw;
    top: -14vw;
  }
  .c_1_3_1 {
    display: block;
    position: relative;
    border: solid 1vw;
    width: 7.571vw;
    height: 7.571vw;
    border-radius: 50%;
    left: 16vw;
    top: -53vw;
  }
  .c_1_3_2 {
    display: block;
    position: relative;
    border: solid 1vw;
    width: 9.571vw;
    height: 9.571vw;
    border-radius: 50%;
    left: 16vw;
    top: -53vw;
  }
  .c_1_4 {
    display: block;
    position: relative;
    background-color: black;
    width: 3.571vw;
    height: 3.571vw;
    border-radius: 50%;
    left: 92vw;
    top: -25vw;
  }
  .c_1_4_1 {
    display: block;
    position: relative;
    background-color: black;
    width: 7.571vw;
    height: 7.571vw;
    border-radius: 50%;
    left: 16vw;
    top: -53vw;
  }
  .c_1_4_2 {
    display: block;
    position: relative;
    background-color: black;
    width: 18.571vw;
    height: 18.571vw;
    border-radius: 50%;
    left: -70vw;
    top: -53vw;
  }

  .c_2 {
    display: block;
    position: relative;
    border: solid 0.655vw;
    width: 3.571vw;
    height: 3.571vw;
    border-radius: 50%;
    left: 15vw;
    top: -1vw;
  }
  .c_2_2 {
    display: block;
    position: relative;
    background-color: black;
    width: 3.571vw;
    height: 3.571vw;
    border-radius: 50%;
    left: 15vw;
    top: -1vw;
  }
  .c_3 {
    display: block;
    position: relative;
    border: solid 0.655vw;
    width: 2.571vw;
    height: 2.571vw;
    border-radius: 50%;
    left: 21vw;
    top: 1vw;
  }
  .c_3_2 {
    display: block;
    position: relative;
    background-color: black;
    width: 2.571vw;
    height: 2.571vw;
    border-radius: 50%;
    left: 21vw;
    top: 1vw;
  }
  .text_dish h1 {
    margin-bottom: 0.6vw;
  }
  .text_dish h2 {
    margin-bottom: 3vw;
  }
  .header_burger.active span {
    transform: scale(0);
  }
  .header_burger.active:before {
    transform: rotate(45deg);
    top: 1.3vw;
  }
  .header_burger.active:after {
    transform: rotate(-45deg);
    bottom: 1.3vw;
  }
  .upper_menu li {
    margin-bottom: 1vw;
  }
  .lower_menu li {
    margin-bottom: -1.3vw;
  }
  button {
    width: 17.500vw;
    height: 3.333vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: rgba(162, 42, 47, 1);
    background-color: white;
    font-size: 1.38vw;
    border: 0.2vw solid rgba(162, 42, 47, 1);
    max-width: 100%;
    white-space: nowrap;
    transition: all 0.3s ease-out;
  }
  .baton {
    display: block;
    position: relative;
    top:5vw;
    z-index: 49;
    transition: all 0.3s ease-out;
  }
  .btn-1 {
    box-shadow: inset 0 0 rgba(8, 157, 148, 1);
    transition: all 0.3s ease-out;
  }
  .btn-1:hover {
    box-shadow: inset 13em 0 rgba(162, 42, 47, 1);
    cursor: pointer;
    color: white;
  }
  .dish_bottom {
    position: absolute;
    display: block;
    top:21.6vw;
    margin: 0 0 0 0;
    width: 111%;
    left:18.5vw;
  }
  .footer {
    display: block;
    position: relative;
    top:5vw;
    margin-left:5.3vw;
    margin-right:5.3vw;
    height: 5vw;
  }
  .footer_container {
    position: relative;
    width: 100%;
    top:0;
    left:0;
    height: 5vw;
  }
  .footer_body {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
  .footer_body a {
    text-decoration: none;
    color: black;
    font-family: 'Montserrat';
    font-weight: normal;
    font-size: 1.131vw;
  }
  .icons {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 10vw;
    margin-right: 4vw;
    align-items: flex-end;
    height: 3vw;
  }
  .icons img {
    width: 80%;
    height: 80%;
    padding-left: 2vw;
  }
  #scroll {
    position: sticky;
    top: 10vw;
    height: 10vw;
    right: 3vw;
    z-index: 49;
  }
  .sticky_element {
    position: absolute;
    height: 556.964vw;
    text-align: right;
    z-index: 49;
    top:80vw;
    right: 1vw;
    overflow:visible;
  }
  .scroll_item {
    border: 0.6vw solid black;
    border-radius: 50%;
    width: 3vw;
    height: 3vw;
    margin: 1.4vw;
  }
  .scroll_item_active {
    border: 0.6vw solid black;
    border-radius: 50%;
    width: 3vw;
    height: 3vw;
    margin: 1.4vw;
    background-color: black;
  }
  .scroll_item:hover{
    background: black;
}

  p {
    font-family: 'Montserrat', sans-serif; font-size: 1.429vw; font-weight: normal; vertical-align: top; text-align: left; line-height: 1.7vw;
  }
  h1 {
    font-family: 'Oswald', sans-serif; font-size: 4.167vw; color: black; vertical-align: top; text-align: left; font-weight: 500;
  }
  h2 {
    font-family: 'Montserrat', sans-serif; font-size: 2.083vw; font-weight: medium; vertical-align: top; text-align: left;
  }
