  *,*:before, *:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
  }
  html, body {
    height: 100%;
  }
  body img {
    width: 100%;
    height: 100%;
  }
  .wrapper {

  }
  body.lock {
    overflow: hidden;
  }
  .container {
    max-width: 88.393vw;
    margin: 0 auto;
    padding: 0;
  }
  .header {
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    z-index: 50;
  }
  .header:before {
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: white;
  }
  .header_body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 7.1vw;
    align-items: flex-end;
    margin-bottom: 2.4vw;
  }
  .header_logo {
    flex: 0 0 17vw;
    z-index: 3;
    position: relative;
  }
  .header_logo_2 {
    flex: 0 0 30vw;
    z-index: 3;
    position: relative;
  }
  .header_logo img {
    max-width: 100%;
  }
  .header_logo_2 img {
    max-width: 100%;
  }
  .header_burger {
    display: block;
    position: relative;
    width: 6vw;
    height: 3vw;
    z-index: 3;
  }
  .header_burger span {
    position: absolute;
    background-color: black;
    left: 0;
    width: 100%;
    height: 0.4vw;
    top: 1.3vw;
    transition: all 0.3s ease 0s;
  }
  .header_burger:before,
  .header_burger:after {
    content: '';
    background-color: black;
    position: absolute;
    width: 100%;
    height: 0.4vw;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header_burger:before {
    top:0;
  }
  .header_burger:after {
    bottom: 0;
  }
  .flex_menu_1 {
    display: flex;
    justify-content: space-between;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 4vw;
    flex-direction: column;
  }
  .lower {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 2vw;
  }
  .flex_menu_2 {
    display: flex;
    justify-content: space-between;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 4vw;
  }
  .flex_menu_3 {
    display: flex;
    justify-content: space-between;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 4vw;
    flex-direction: column;
  }
  .header_contact {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    max-width: 87.393vw;
    text-align: center;
    left:0;
    right: 0;
    margin-left: 6vw;
    margin-top: 10vw;
  }
  .header_contact a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 1.369vw;
  }
  .header_menu {
    position: fixed;
    top:-100%;
    left:0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease 0s;
    background-color: rgba(162, 42, 47, 1);
    padding: 15vw 0 0 0;
  }
  .header_menu.active {
    top:0;
  }
  .header_list {
    display: flex;
    position: relative;
    z-index: 2;
    max-width: 87.393vw;
    justify-content: space-between;
    left:0;
    right: 0;
    align-items: flex-start;
    margin-left: 6vw;
    margin-right: 6vw;
  }
  .header_list li {
    list-style: none;
    }
  .header_link {
    text-decoration: none;
    color: white;
  }
  .header_link.lower {
    color: rgba(196, 196, 196, 1)
  }
  .content {
    padding: 20vw;
  }
  .content_text {
  }
  .header_burger.active span {
    transform: scale(0);
  }
  .header_burger.active:before {
    transform: rotate(45deg);
    top: 1.3vw;
  }
  .header_burger.active:after {
    transform: rotate(-45deg);
    bottom: 1.3vw;
  }
  .upper_menu li {
    margin-bottom: 1vw;
  }
  .lower_menu li {
    margin-bottom: -1.3vw;
  }
  p {
    font-family: 'Montserrat', sans-serif;
  }
  h1 {
    font-family: 'Oswald', sans-serif; font-size: 4.167vw; color: black; vertical-align: top; text-align: left;
  }
